<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script defer src="/js/script.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
    <title>Your Favorite Beaches | Here's all Beaches</title>
</head>

<body>
    <h4>Beaches Ratings
    </h4>
    <table>
        <thead>
            <th>Beaches Name</th>
            <th>Loacted</th>
            <th>Sands Color</th>
            <th>Rating</th>
        </thead>
        
        <tbody class="infor">
            
            <% beaches.forEach(beach => { %>
                <tr>
                    <td><%= beach.beachName %></td>
                    <td><%= beach.beachLocated %></td>
                    <td><%= beach.sandsColor %></td>
                    <td><%= beach.rating %></td> 

                </tr>
            <% }) %>
            <a  class="back" href="/">Back to View</a >
             <a  class="add" href="/beaches/new">Add Beach</a >
        </tbody>
    </table>
    <footer class="details">
        <p>All Rights Reserved Copyright &copy; Beach 2021</p>
    </footer>
</body>
</html>