<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script defer src="/js/script.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
    <title>Your Favorite Beaches | Add Your Beaches</title>
</head>


<body>
    <h2>Enter a new Beach</h2>
    <div class="form">
    <form action="/beaches" method="POST">
        <label>Beach Name:
            <input type="text" name="beachName">
        </label>
        <label>Beach Loacted:
            <input type="text" name="beachLocated">
        </label>
            <label>Sands Color
                <select name="sandsColor">
                    <option value="Normal">Normal</option>
                    <option value="White">White</option>
                    <option value="Red">Red</option>
                    <option value="Pink">Pink</option>
                    <option value="Black">Black</option>
                </select>
            </label>
    
        <label>Rating:
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>

        </select>
    </label>
        <input class="submit" type="submit" value="Add Beach">
    </form>
</div>
<footer class="edit">
    <p>All Rights Reserved Copyright &copy; Beach 2021</p>
</footer>  

</body>
</html>