<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
 <script defer src="/js/script.js"></script>
  <link rel='stylesheet' href='/css/style.css' />
  <title>Fiji</title>
</head>


<body>
  <h1>Fiji</h1>


 
  <section id="beaches"></section>
  <a href="/beaches/new"> Back To Your List</a>
  
  <a href="/beaches">See All Your Beaches</a >

</body>
</html>